.App {
  text-align: center;
  background-color: beige;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}
.logo-text{
 font-size: 2.4rem !important;;
  align-items: center;
  margin-top: 15px !important;
  margin-left: 20px !important;
}


.App-header {
  display:inline-flex;
  flex-direction:row;
  color: red;
  margin-left: 10px;
}

.App-link {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.btn1 {
 background-color: ; color: red;
  border: 0;
  height: 45px;
  border: 0;
  background: $secondary-color;
  border-top-left-radius: 0;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: flex;
  text-align:center;
  margin: 20px;
}

.card {
  position: flex;
  background-color:azure;
  color: antiquewhite;
}

.form-group{
  margin: 50px;;
  margin-top: 50px;
  margin-bottom: 50px;

}